body {
  background: #f8e8a6;
}

h1, p {
  text-align: center;
}

.croissant {
  display: block;
  margin: 30px auto;
  max-width: 55%;
  border-radius: 10px;
}
footer {
  text-align: center;
}
footer a {
    margin:0 10px;
  color: green;
}
